body{
  margin: 0;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}
h1{
  margin-top: 0;
}
hr{
  border: none;
   border-top: 3px double #33313B;
   overflow: visible;
   text-align: center;
   height: 5px;
   color: #33313B;
}


.bottom-container{
  background-color: #F9F2ED;
}
.middle-container{
  background-color: #F9F2ED;
}
.top-container{
  background-color: #748DA6;
  padding-top: 100px;
  position: relative;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
